# .env - variables d'environnement pour LoharanoBox

# Nom du projet
PROJECT_NAME=LoharanoBox
# Version de l'application
VERSION=1.0.0

# Base de données PostgreSQL;
DATABASE_URL=postgresql+psycopg2://LoharanoBox_user:Password123@192.168.239.128:5432/LoharanoBox_db

# CORS - origines autorisées 
BACKEND_CORS_ORIGINS=["http://localhost:5173"]

# JWT - clé de chiffrement du token 
SECRET_KEY=8d25c1becc0543ac985e7e7035de8935f715c149d6f44fd9ab27c1bca4c842f5
ALGORITHM=HS256 # algorithme de chiffrement du token

#Superadmin
ADMIN_EMAIL=admin@LoharanoBox.mg
ADMIN_PASSWORD=Passw00rd

# Logging
LOG_LEVEL=info